<strong>Confirmação de inscrição</strong>

<p>Olá, {{ username }}</p>
<p>Você se inscreveu no Meetup {{ title }}, confirmando sua participação</p>
<p>Fique atento a data e local</p>
<p><strong>Data:</strong>{{ data }}</p>
<p><strong>Local:</strong>{{ local }}</p>
